{
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "camelcase": ["error", {"properties": "always"}],
    "no-var": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "no-sequences": "error",
    "eqeqeq": "error"
  }
}
